In [ ]:
#message add this jupyter notebook please git. stop failing

In [1]:
import requests
import bs4
from bs4 import BeautifulSoup

In [2]:
def get_loc(result):
    try:
        return result.find('span', {'class':'location'}).text
    except:
        return 'NA'

In [3]:
def get_comp(result):
    try:
        return result.find('span', {'class':'company'}).text
    except:
        return 'NA'
def get_job(result):
    try:
        return result.find('a', {'data-tn-element':'jobTitle'}).text
    except:
        return 'NA'
def get_sal(result):
    try:
        return result.find('td', {'class':'snip'}).find('nobr').text
    except:
        return 'NA'
def get_desc(result):
    try:
        return result.find('span', {'class':'summary'}).text
    except:
        return 'NA'

In [4]:
from time import sleep
import pandas as pd
import numpy as np

In [5]:
indeed_cities = ['New+York', 'Chicago', 'San+Francisco', 'San+Jose', 'San+Diego', 'Los+Angeles', 'Washington%2C+DC',
          'Boston', 'Pittsburgh', 'Philadelphia', 'Atlanta', 'Cincinnati', 'St.+Louis', 'Tampa', 'Oakland',
          'Austin', 'Houston', 'Dallas', 'Seattle', 'Portland', 'Denver', 'Phoenix', 'Minneapolis', 'Miami',
          'Charlotte', 'Jacksonville', 'Indianapolis', 'Nashville', 'Kansas+City', 'Columbus']
len(indeed_cities)

30

In [7]:
max_results_per_city = 100

results = []

for city in indeed_cities:
    for start in range(0, max_results_per_city, 100):
        url = "https://www.indeed.com/jobs?as_and=data+scientist&as_phr=&as_any=&as_not=&as_ttl=&as_cmp=&jt=all&st=\
               &salary=&radius=25&l=" + city + "&fromage=any&limit=100&start=" + str(start) + "&sort=&psf=advsrch"
        html = requests.get(url)
        soup = BeautifulSoup(html.text, 'html.parser')
        for result in soup.find_all('div', {'class':' row result'}):
            results.append(result)
        sleep(1)

In [8]:
jobs0 = pd.DataFrame(columns=['location', 'title', 'company', 'salary', 'summary'])

In [9]:
for entry in results:
    location = get_loc(entry)
    title = get_job(entry)
    company = get_comp(entry)
    salary = get_sal(entry)
    desc = get_desc(entry)
    jobs0.loc[len(jobs0)] = [location, title, company, salary, desc]

In [12]:
jobs0.head(20)

,location,title,company,salary,summary
0,"New York, NY 10032 (Washington Heights area)","Associate, Data Scientist",Morgan Stanley,NA,Utilize experience in applying Machine Learnin...
1,"New York, NY 10011 (Chelsea area)","Data Scientist/Quantitative Analyst, Engineering",Google,NA,"4 years of relevant work experience (e.g., as ..."
2,"New York, NY 10282 (Tribeca area)",Technology - GSAM Tech - Data Science and Mach...,Goldman Sachs,NA,IMD Knowledge Management team is looking to ex...
3,"New York, NY","Data Scientist, Analytics",Facebook,NA,The Data Scientist Analytics role has work acr...
4,"New York, NY",Data Scientist,Capital One,NA,Integrating with external data sources and API...
5,"New York, NY",Data Scientist,Coach,NA,Build statistical analyses and machine learnin...
6,"New York, NY",Research Scientist - All Levels (Applied Data ...,Columbia University,NA,Contribute to research projects involving one ...
7,"New York, NY",Machine Learning,Twitter,NA,"Cortex is a team of software engineers, data s..."
8,"New York, NY",Data Scientist,MealPal,NA,Verify data integrity used in analyses and wor...
9,"New York, NY",Data Scientist,Vettery,NA,Build machine learning infrastructure and mode...
10,"New York, NY",Data Scientist,OnDeck,NA,"As a Data Scientist at OnDeck, you will:. Stro..."
11,"New York, NY 10022 (Midtown area)",Data Scientist - Journey Analytics,McKinsey & Company,NA,As one of the fastest-growing parts of our fir...
12,"New York, NY",Data Scientist,MetroPlus Health Plan,NA,MetroPlus Health Plan provides the highest qua...
13,"New York, NY",Data Scientist,"Amazon Web Services, Inc.",NA,We are looking for talented and experienced Ma...
14,"New York, NY",Data Scientist - Worldwide Advanced Analytics ...,IBM,NA,As a member of our team you will get to work h...
15,"New York, NY 10020 (Midtown area)",Data Scientist,Fareportal Inc.,NA,Advanced skills and training in machine learni...
16,"New York, NY",Data Scientist,Loadsmart,NA,We are looking for a Data Scientist to join us...
17,"New York, NY",Data Scientist,Foursquare,NA,"Strategic analytics, marketing analytics, digi..."
18,"New York, NY",Data Scientist,Foot Locker,NA,We are searching for a forward thinking Data S...
19,"New York, NY",Data Scientist,Pamten,NA,"Experience implementing Regression, Bayesian, ..."

In [11]:
jobs0.company = jobs0.company.str.encode('utf-8').astype(str).str.replace('\n', '')
jobs0.summary = jobs0.summary.str.encode('utf-8').astype(str).str.replace('\n', '')

In [13]:
jobs0.head(20)

,location,title,company,salary,summary
0,"New York, NY 10032 (Washington Heights area)","Associate, Data Scientist",Morgan Stanley,NA,Utilize experience in applying Machine Learnin...
1,"New York, NY 10011 (Chelsea area)","Data Scientist/Quantitative Analyst, Engineering",Google,NA,"4 years of relevant work experience (e.g., as ..."
2,"New York, NY 10282 (Tribeca area)",Technology - GSAM Tech - Data Science and Mach...,Goldman Sachs,NA,IMD Knowledge Management team is looking to ex...
3,"New York, NY","Data Scientist, Analytics",Facebook,NA,The Data Scientist Analytics role has work acr...
4,"New York, NY",Data Scientist,Capital One,NA,Integrating with external data sources and API...
5,"New York, NY",Data Scientist,Coach,NA,Build statistical analyses and machine learnin...
6,"New York, NY",Research Scientist - All Levels (Applied Data ...,Columbia University,NA,Contribute to research projects involving one ...
7,"New York, NY",Machine Learning,Twitter,NA,"Cortex is a team of software engineers, data s..."
8,"New York, NY",Data Scientist,MealPal,NA,Verify data integrity used in analyses and wor...
9,"New York, NY",Data Scientist,Vettery,NA,Build machine learning infrastructure and mode...
10,"New York, NY",Data Scientist,OnDeck,NA,"As a Data Scientist at OnDeck, you will:. Stro..."
11,"New York, NY 10022 (Midtown area)",Data Scientist - Journey Analytics,McKinsey & Company,NA,As one of the fastest-growing parts of our fir...
12,"New York, NY",Data Scientist,MetroPlus Health Plan,NA,MetroPlus Health Plan provides the highest qua...
13,"New York, NY",Data Scientist,"Amazon Web Services, Inc.",NA,We are looking for talented and experienced Ma...
14,"New York, NY",Data Scientist - Worldwide Advanced Analytics ...,IBM,NA,As a member of our team you will get to work h...
15,"New York, NY 10020 (Midtown area)",Data Scientist,Fareportal Inc.,NA,Advanced skills and training in machine learni...
16,"New York, NY",Data Scientist,Loadsmart,NA,We are looking for a Data Scientist to join us...
17,"New York, NY",Data Scientist,Foursquare,NA,"Strategic analytics, marketing analytics, digi..."
18,"New York, NY",Data Scientist,Foot Locker,NA,We are searching for a forward thinking Data S...
19,"New York, NY",Data Scientist,Pamten,NA,"Experience implementing Regression, Bayesian, ..."

In [14]:

for col in ['location', 'title', 'salary']:
    jobs0[col] = jobs0[col].str.encode('utf-8').astype(str)

In [15]:
jobs1 = pd.DataFrame(columns=['location', 'title', 'company', 'salary', 'summary'])

In [16]:
for entry in results:
    location = get_loc(entry)
    title = get_job(entry)
    company = get_comp(entry)
    salary = get_sal(entry)
    desc = get_desc(entry)
    jobs1.loc[len(jobs1)] = [location, title, company, salary, desc]

In [17]:
jobs1.company = jobs1.company.str.encode('utf-8').astype(str).str.replace('\n', '')
jobs1.summary = jobs1.summary.str.encode('utf-8').astype(str).str.replace('\n', '')

In [18]:
for col in ['location', 'title', 'salary']:
    jobs1[col] = jobs1[col].str.encode('utf-8').astype(str)

In [19]:
jobs1.head()

,location,title,company,salary,summary
0,"New York, NY 10032 (Washington Heights area)","Associate, Data Scientist",Morgan Stanley,NA,Utilize experience in applying Machine Learnin...
1,"New York, NY 10011 (Chelsea area)","Data Scientist/Quantitative Analyst, Engineering",Google,NA,"4 years of relevant work experience (e.g., as ..."
2,"New York, NY 10282 (Tribeca area)",Technology - GSAM Tech - Data Science and Mach...,Goldman Sachs,NA,IMD Knowledge Management team is looking to ex...
3,"New York, NY","Data Scientist, Analytics",Facebook,NA,The Data Scientist Analytics role has work acr...
4,"New York, NY",Data Scientist,Capital One,NA,Integrating with external data sources and API...

In [21]:
results = pd.concat([jobs0, jobs1]).drop_duplicates()

In [42]:
results.shape

(1406, 5)

In [ ]:
#breather

In [49]:
salaries = results

In [53]:
salaries = salaries[salaries.salary.notnull()]

In [52]:
salaries.head()

Empty DataFrame
Columns: [location, title, company, salary, summary]
Index: []